[submodule "vendor/knockback"]
	path = vendor/knockback
	url = https://github.com/kmalakoff/knockback
[submodule "vendor/knockout"]
	path = vendor/knockout
	url = https://github.com/SteveSanderson/knockout.git
