<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="#">Wacom XS</a>
		<ul class="nav pull-right">
			<li><a href="#import">Import</a></li>
			<li><a href="#load">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div class="row" data-bind="with: importVM">
		<div class="span12">
			<h1>Import!</h1>
		</div>
	</div>

	<!-- Load view -->
	<div class"row" data-bind="with: loadVM">
		<div class="span12">
			<h1>Load!</h1>
		</div>
	</div>

</div>
