<div class"row">

	<div class="span3">
		<h1>Buttons</h1>
		<div data-bind="foreach: buttons">
			<p><button class="btn" data-bind="text: text, click: edit"></button></p>
		</div>
	</div>

	<div class="span3">
		<h1>Modes</h1>
		<div data-bind="foreach: modes">
			<p><button class="btn" data-bind="text: text, click: edit" /></button></p>
		</div>
	</div>

	<div class="span5">
		<h1>Other</h1>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input id="title" type="text" data-bind="value: title"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="appid">Application Name</label>
				<div class="controls">
					<input type="text" id="appid" data-bind="value: application_name"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="appid">Application Long Name</label>
				<div class="controls">
					<input type="text" id="appid" data-bind="value: application_long_name"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">Mappings</label>
				<div class="controls">
					<button class="btn">Edit...</button>
				</div>
			</div>
		</form>

		<p><button class="btn btn-primary">Download...</button></p>

	</div>

</div>
