<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="#">Wacom XS</a>
		<ul class="nav pull-right">
			<li><a href="#import" data-toggle="modal">Import</a></li>
			<li><a href="#load" data-toggle="modal">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div id="import" class="modal hide fade" data-bind="with: importVM">
		<div class="modal-header">
			<h1>Import!</h1>
		</div>
		<div class="modal-body">
			Something
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		</div>
	</div>

	<!-- Load view -->
	<div id="load" class="modal hide fade" data-bind="with: loadVM">
		<div class="modal-header">
			<h1>Load!</h1>
		</div>
		<div class="modal-body">
			Something
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		</div>
	</div>

</div>
