<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="/"><img src="/logo.png"/></a>
		<ul class="nav pull-right">
			<li><a href="#" data-bind="click: doImport">Import</a></li>
			<li><a href="#" data-bind="click: doLoad">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div id="import" class="modal hide fade" data-bind="with: importVM">
		<div class="modal-header">
			<h3>Import</h3>
		</div>
		<div class="modal-body">
			<form>
				<input type="file" id="importfile" data-bind="file: filedata">

				<div data-bind="with: innerVM">
					<h4>Buttons</h4>
					<!-- ko foreach: buttons -->
					<label class="radio">
						<input type="radio" name="buttonsGroup" data-bind="value: $index, checked: $parent.selectedButtons" />
						<span data-bind="text: displayText"></span>
					</label>
					<!-- /ko -->
					<label class="radio">
						<input type="radio" name="buttonsGroup" value="-1" data-bind="data: -1, checked: selectedButtons" />
						<span>(none)</span>
					</label>

					<h4>Modes</h4>
					<!-- ko foreach: modes -->
					<label class="radio">
						<input type="radio" name="modesGroup" data-bind="value: $index, checked: $parent.selectedModes" />
						<span data-bind="text: displayText"></span>
					</label>
					<!-- /ko -->
					<label class="radio">
						<input type="radio" name="modesGroup" value="-1" data-bind="checked: selectedModes" />(none)
					</label>

				</div>
			</form>
			<div class="alert alert-error" data-bind="visible: error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There was an error.  Tell Ben.
			</div>
		</div>
		<div class="modal-footer">
			<img data-bind="visible: busy" src="/busy.gif" />
			<button class="btn" data-bind="click: cancel">Cancel</button>
			<button class="btn btn-primary" data-bind="css: {disabled: submitDisabled}, click: submit">
				Import
			</button>
		</div>
	</div>

	<!-- Load view -->
	<div id="load" class="modal hide fade" data-bind="with: loadVM">
		<div class="modal-header">
			<h3>Load</h3>
		</div>
		<div class="modal-body">
			<div data-bind="foreach: items">
				<a class="btn btn-block load-btn" data-bind="click: open">
					<span class="load-title" data-bind="text: displayTitle"></span>
					<span class="load-date" data-bind="text: displayDate"></span>
				</a>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-bind="click: cancel">Cancel</button>
		</div>
	</div>

	<!-- Show view -->
	<form data-bind="with: showVM">
		<div class="row">
			<div class="span12">
				<input data-bind="value: title, valueUpdate: 'afterkeydown'" class="titlebox span12" placeholder="Title" />
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<label>Short name</label>
				<input data-bind="value: application_name" class="span4" />
			</div>
			<div class="span8">
				<label>Long name</label>
				<input data-bind="value: application_long_name" class="span8" />
			</div>
		</div>

		<hr/>
		<div class="row">
			<div class="span12">
				<h2>Buttons</h2>
				<div data-bind="foreach: buttons">
					<button data-bind="wacbutton: $data" />
				</div>
			</div>
		</div>

		<hr/>
		<div class="row">
			<div class="span12 btn-toolbar">
				<button class="btn btn-danger" data-bind="click: destroy">Delete</button>
				<button class="btn btn-success pull-right" data-bind="click: save">Save</button>
				<div class="btn-group pull-right">
					<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Download <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a data-bind="attr: {href: urlForWin}">Windows</a></li>
						<li><a data-bind="attr: {href: urlForMac}">Mac (zip)</a></li>
						<li><a data-bind="attr: {href: urlForAll}">Both (zip)</a></li>
					</ul>
			</div>
		</div>
		<div class="row results">
			<div class="span6 offset3">
				<img data-bind="visible: busy" src="/busy.gif" />
				<p class="alert alert-error" data-bind="visible: error">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					There was an error.  Tell Ben.
				</p>
				<p class="alert alert-success" data-bind="visible: success">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					Saved!
				</p>
			</div>
		</div>
	</form>

</div>
