<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="/"><img src="/logo.png"/></a>
		<ul class="nav pull-right">
			<li><a href="#" data-bind="click: doImport">Import</a></li>
			<li><a href="#" data-bind="click: doLoad">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div id="import" class="modal hide fade" data-bind="with: importVM">
		<div class="modal-header">
			<h3>Import</h3>
		</div>
		<div class="modal-body">
			<form>
				<input type="file" id="importfile" data-bind="file: filedata">

				<div data-bind="with: innerVM">
					<h4>Applications</h4>
					<!-- ko foreach: appArray -->
					<label class="radio">
						<input type="radio" name="appsGroup" data-bind="value: appId, checked: $parent.selectedAppId" />
						<span data-bind="text: name"></span>
					</label>
					<!-- /ko -->

					<h4>Tablets</h4>
					<!-- ko foreach: tablets -->
					<label class="radio">
						<input type="radio" name="tabsGroup" data-bind="value: name, checked: $parent.selectedTablet" />
						<span data-bind="text: name"></span>
					</label>
					<!-- /ko -->

				</div>
			</form>
			<div class="alert alert-error" data-bind="visible: error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There was an error.  Tell Ben.
			</div>
		</div>
		<div class="modal-footer">
			<img data-bind="visible: busy" src="/busy.gif" />
			<button class="btn" data-bind="click: cancel">Cancel</button>
			<button class="btn btn-primary" data-bind="css: {disabled: submitDisabled}, click: submit">
				Import
			</button>
		</div>
	</div>

	<!-- Load view -->
	<div id="load" class="modal hide fade" data-bind="with: loadVM">
		<div class="modal-header">
			<h3>Load</h3>
		</div>
		<div class="modal-body">
			<div data-bind="foreach: items">
				<a class="btn btn-block load-btn" data-bind="click: open">
					<span class="load-title" data-bind="text: displayTitle"></span>
					<span class="load-date" data-bind="text: displayDate"></span>
				</a>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-bind="click: cancel">Cancel</button>
		</div>
	</div>

	<!-- Show view -->
	<form data-bind="with: showVM">
		<div class="row">
			<div class="span12">
				<input data-bind="value: title, valueUpdate: 'afterkeydown'" class="titlebox span12" placeholder="Title" />
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<label>Short name</label>
				<input data-bind="value: application_name" class="span4" />
			</div>
			<div class="span8">
				<label>Long name</label>
				<input data-bind="value: application_long_name" class="span8" />
			</div>
		</div>

		<hr/>
		<div class="row">
			<div class="span3">
				<h3>Buttons</h3>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: include_buttons, enable: has_buttons">
					Include
				</label>
				<!-- ko ifnot: has_buttons -->
				<div class="well well-small muted">
					<b>No buttons</b>
				</div>
				<!-- /ko -->
				<div data-bind="foreach: buttons" class="well well-small">
					<p>
						<span data-bind="text: buttonName"></span>:
						<span data-bind="buttonFunction: buttonFunction"></span>
						<!-- ko if: buttonFunction == '8' -->
						(<span data-bind="text: buttonKeystrokeShortcutName"></span>)
						<!-- /ko -->
						<!-- ko if: buttonFunction == '9' -->
						(<span data-bind="modifier: modifier"></span>)
						<!-- /ko -->
						<%#<button class="btn">...</button>%>
					</p>
				</div>
			</div>
			<div class="span3">
				<h3>Rings</h3>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: include_rings, enable: has_rings">
					Include
				</label>
				<!-- ko ifnot: has_rings -->
				<div class="well well-small muted">
					<b>No rings</b>
				</div>
				<!-- /ko -->
				<div data-bind="foreach: modes">
					<div class="well well-small">
						<p data-bind="text: name"/>
						<ul data-bind="foreach: modes">
							<li>
							<span data-bind="buttonFunction: touchStripFunction"></span>
							<!-- ko if: touchStripFunction == '8' -->
							<span data-bind="text: '(' + touchStripKeystrokeName + ')'"></span>
							<!-- /ko -->
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span3">
				<h3>Radial Menu</h3>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: include_menu, enable: has_menu">
					Include
				</label>
				<!-- ko ifnot: has_menu -->
				<div class="well well-small muted">
					<b>No menu</b>
				</div>
				<!-- /ko -->
				<!-- ko if: has_menu -->
				<div class="well well-small">
					<ul data-bind="foreach: menu">
						<li>
							<span data-bind="text: name"></span>:
							<span data-bind="radialFunction: radialFunction"></span>
					</ul>
				</div>
				<!-- /ko -->
			</div>
			<div class="span3">
				<h3>Gestures</h3>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: include_gestures, enable: has_gestures">
					Include
				</label>
				<!-- ko ifnot: has_gestures -->
				<div class="well well-small muted">
					<b>No gestures</b>
				</div>
				<!-- /ko -->
			</div>

		</div>

		<hr/>
		<div class="row">
			<div class="span12 btn-toolbar">
				<button class="btn btn-danger" data-bind="click: destroy">Delete</button>
				<button class="btn btn-success pull-right span3" data-bind="click: save, visible: dirty">Save</button>
				<a class="btn btn-primary pull-right span3"
					data-bind="attr: {href: urlForDownload}, visible: !dirty()">
					Download
				</a>
			</div>
		</div>
		<div class="row results">
			<div class="span6 offset3">
				<%#<p data-bind="text: dirty"/>%>
				<img data-bind="visible: busy" src="/busy.gif" />
				<p class="alert alert-error" data-bind="visible: error">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					There was an error.  Tell Ben.
				</p>
				<p class="alert alert-success" data-bind="visible: success">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					Saved!
				</p>
			</div>
		</div>
	</form>

</div>
