<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="/"><img src="/logo.png"/></a>
		<ul class="nav pull-right">
			<li><a href="#" data-bind="click: doImport">Import</a></li>
			<li><a href="#" data-bind="click: doLoad">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div id="import" class="modal hide fade" data-bind="with: importVM">
		<div class="modal-header">
			<h3>Import</h3>
		</div>
		<div class="modal-body">
			<form>
				<input type="file" id="importfile" data-bind="file: filedata">

				<div data-bind="with: innerVM">
					<h4>Applications</h4>
					<!-- ko foreach: appArray -->
					<label class="radio">
						<input type="radio" name="appsGroup" data-bind="value: appId, checked: $parent.selectedAppId" />
						<span data-bind="text: name"></span>
					</label>
					<!-- /ko -->

					<h4>Tablets</h4>
					<!-- ko foreach: tablets -->
					<label class="radio">
						<input type="radio" name="tabsGroup" data-bind="value: name, checked: $parent.selectedTablet" />
						<span data-bind="text: name"></span>
					</label>
					<!-- /ko -->

				</div>
			</form>
			<div class="alert alert-error" data-bind="visible: error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There was an error.  Tell Ben.
			</div>
		</div>
		<div class="modal-footer">
			<img data-bind="visible: busy" src="/busy.gif" />
			<button class="btn" data-bind="click: cancel">Cancel</button>
			<button class="btn btn-primary" data-bind="css: {disabled: submitDisabled}, click: submit">
				Import
			</button>
		</div>
	</div>

	<!-- Load view -->
	<div id="load" class="modal hide fade" data-bind="with: loadVM">
		<div class="modal-header">
			<h3>Load</h3>
		</div>
		<div class="modal-body">
			<div data-bind="foreach: items">
				<a class="btn btn-block load-btn" data-bind="click: open">
					<span class="load-title" data-bind="text: displayTitle"></span>
					<span class="load-date" data-bind="text: displayDate"></span>
				</a>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-bind="click: cancel">Cancel</button>
		</div>
	</div>

	<!-- Show view -->
	<form data-bind="with: showVM">
		<div class="row">
			<div class="span6">
				<label>Title</label>
				<input data-bind="value: title, valueUpdate: 'afterkeydown'" class="span6" placeholder="Title" />
				<label>Short name</label>
				<input data-bind="value: application_name" class="span6" />
				<label>Secondary ID</label>
				<input data-bind="value: secondary_id" class="span6" />
				<label>Long name</label>
				<input data-bind="value: application_long_name" class="span6" />
			</div>
			<div class="span4">
				<div class="well">
					<span style="display:none" data-bind="ifnot: has_buttons" class="span-2 muted">(No buttons configured)</span>
					<div class="span-2" data-bind="if: has_buttons">
						<label class="checkbox">
							<input type="checkbox" data-bind="checked: include_buttons">
							Include Buttons
						</label>
					</div>
					<i rel="buttons-popover" class="pull-right icon-info-sign" data-bind="visible: has_buttons"></i>
					<div id="buttons-popover" style="display:none">
						<div data-bind="foreach: buttons">
							<p>
							<span data-bind="text: buttonName"></span>:
							<span data-bind="buttonFunction: buttonFunction"></span>
							<span data-bind="visible: buttonFunction == '8', text: '(' + buttonKeystrokeShortcutName + ')'"></span>
							<span data-bind="if: buttonFunction == '9'">(<span data-bind="modifier: modifier"></span>)</span>
							</p>
						</div>
					</div>
				</div>
				<div class="well">
					<span style="display:none" data-bind="visible: !has_rings()" class="span-2 muted">(No rings configured)</span>
					<div class="span-2" data-bind="visible: has_rings">
						<label class="checkbox">
							<input type="checkbox" data-bind="checked: include_rings">
							Include Rings
						</label>
					</div>
					<i rel="modes-popover" class="pull-right icon-info-sign" data-bind="visible: has_rings"></i>
					<div id="modes-popover" style="display:none">
						<div data-bind="foreach: modes">
							<div>
								<h4 data-bind="text: name"></h4>
								<ul data-bind="foreach: modes">
									<li>
									<span data-bind="buttonFunction: touchStripFunction"></span>
									<span data-bind="visible: touchStripFunction == '8', text: '(' + touchStripKeystrokeName + ')'"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="well">
					<span style="display:none" data-bind="visible: !has_menu()" class="span-2 muted">(No menu configured)</span>
					<div class="span-2" data-bind="visible: has_menu">
						<label class="checkbox">
							<input type="checkbox" data-bind="checked: include_menu">
							Include Radial Menu
						</label>
					</div>
					<i rel="menu-popover" class="pull-right icon-info-sign" data-bind="visible: has_menu"></i>
					<div id="menu-popover" style="display:none" data-bind="foreach: menu">
						<p>
						<span data-bind="text: name"></span>:
						<span data-bind="radialFunction: radialFunction"></span>
						</p>
					</div>
				</div>
				<div class="well">
					<span style="display:none" data-bind="visible: !has_gestures()" class="span-2 muted">(No gestures configured)</span>
					<div class="span-2" data-bind="visible: has_gestures">
						<label class="checkbox">
							<input type="checkbox" data-bind="checked: include_gestures">
							Include Gestures
						</label>
					</div>
					<i rel="gestures-popover" class="pull-right icon-info-sign" data-bind="visible: has_gestures"></i>
					<div id="gestures-popover" style="display:none;" data-bind="with: gestures">
						<ul class="unstyled">
							<!-- ko foreach: simple -->
							<li><small><span data-bind="text: name"></span>: <span data-bind="text: value"></span></small></li>
							<!-- /ko -->
							<!-- ko foreach: complex -->
							<li><small><span data-bind="text: name"></span>: (...)</small></li>
							<!-- /ko -->
						</ul>
					</div>
				</div>
			</div>
			<div class="span2">
				<button class="btn btn-success btn-block" data-bind="click: save, visible: dirty">Save</button>
				<a class="btn btn-primary btn-block" data-bind="attr: {href: urlForDownload}, visible: !dirty()">
					Download
				</a>
				<button class="btn btn-danger btn-block" data-bind="click: destroy">Delete</button>
			</div>
		</div>

		<div class="row results">
			<div class="span6 offset3">
				<img data-bind="visible: busy" src="/busy.gif" />
				<div data-bind="foreach: alerts">
					<div class="alert" data-bind="css: alertType">
						<button type="button" class="close" data-bind="click: $parent.removeAlert">&times;</button>
						<span data-bind="text: displayText"></span>
					</div>
				</div>
			</div>
		</div>

	</form>

</div>
