<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<a class="brand" href="/"><img src="/logo.png"/></a>
		<ul class="nav pull-right">
			<li><a href="#" data-bind="click: doImport">Import</a></li>
			<li><a class="primary" href="load">Open</a></li>
		</ul>
	</div>
</div>

<div class="container">

	<!-- Import view -->
	<div id="import" class="modal hide fade" data-bind="with: importVM">
		<div class="modal-header">
			<h3>Import</h3>
		</div>
		<div class="modal-body">
			<form>
				<input type="file" id="importfile" data-bind="file: filedata">

				<div data-bind="visible: filedata">
					<h3>Defined Applications</h3>
					<div data-bind="foreach: visibleApps">
						<label class="radio">
							<input type="radio" name="appGroup" data-bind="value: appid, checked: $parent.selectedApp" />
							<span data-bind="text: labelText"></span>
						</label>
					</div>
				</div>
			</form>
			<div class="alert alert-error" data-bind="visible: error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				There was an error.  Tell Ben.
			</div>
		</div>
		<div class="modal-footer">
			<img data-bind="visible: busy" src="/busy.gif" />
			<button class="btn" data-bind="click: cancel">Cancel</button>
			<button class="btn btn-primary" data-bind="css: {disabled: submitDisabled}, click: submit">
				Import
			</button>
		</div>
	</div>

	<!-- Load view -->
	<div id="load" class="modal hide fade" data-bind="with: loadVM">
		<div class="modal-header">
			<h1>Load!</h1>
		</div>
		<div class="modal-body">
			Something
		</div>
		<div class="modal-footer">
			<a href="/" class="btn">Cancel</a>
		</div>
	</div>

	<!-- Show view -->
	<form data-bind="with: showVM">
		<div class="row">
			<div class="span12">
				<input data-bind="value: title, valueUpdate: 'afterkeydown'" class="titlebox span12" placeholder="Title" />
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<label>Short name</label>
				<input data-bind="value: application_name" class="span4" />
			</div>
			<div class="span8">
				<label>Long name</label>
				<input data-bind="value: application_long_name" class="span8" />
			</div>
		</div>

		<hr/>
		<div class="row">
			<div class="span12">
				<h2>Buttons</h2>
				<div data-bind="foreach: buttons">
					<button data-bind="wacbutton: $data" />
				</div>
			</div>
		</div>

		<hr/>
		<div class="row">
			<div class="span12">
				<button class="btn btn-danger span3" data-bind="click: destroy">Delete</button>
				<button class="btn btn-success span3 pull-right" data-bind="click: save">Save</button>
				<button class="btn btn-primary span3 pull-right" data-bind="click: download">Download</button>
			</div>
		</div>
		<div class="row results">
			<div class="span6 offset3">
				<img data-bind="visible: busy" src="/busy.gif" />
				<p class="alert alert-error" data-bind="visible: error">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					There was an error.  Tell Ben.
				</p>
				<p class="alert alert-success" data-bind="visible: success">
					<%#<button type="button" class="close" data-dismiss="alert">×</button>%>
					Saved!
				</p>
			</div>
		</div>
	</form>

</div>
