// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container {
	margin-top: 2em;
}

.titlebox {
	font-size: 300%;
	margin-bottom: 1em;
}
