// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container {
	margin-top: 60px;
}

.titlebox {
	font-size: 300%;
	line-height: normal;
	margin-bottom: 30px;
}

div.results {
	margin-top: 20px;
}

.load-link {
	display: block;
}

.load-btn {
	text-align: left;
	padding-left: 20px;
}

span.load-date {
	float: right;
	margin-right: 20px;
}

a.btn-primary:visited {
	color: #fff;
}

.popover {
	max-width: 800px;
	width: auto;
}
